*.rds
*.RData
*.Rhistory
*.xlsx
*.docx
*.pdf
*.png
*.Rproj
*.py
*.html
*.txt
00_documentacao/
03_scripts_python/
05_figuras/
06_manuscrito/
04_resultados/mcmc/
04_resultados/modelos/
04_resultados/blups/
04_resultados/two_stage/
04_resultados/selecao_modelos/
04_resultados/componentes_variancia/
04_resultados/parametros_geneticos/reml/
04_resultados/parametros_geneticos/bayesiano/*.rds
04_resultados/selecao/*.rds
04_resultados/selecao/blups_ponderados.csv
04_resultados/selecao/componentes_indice.csv
04_resultados/selecao/pareto_pontual.csv
04_resultados/ia/
01_dados/brutos/
01_dados/ambientais/
01_dados/processados/*.rds
